# ─── Kafka ───────────────────────────────────────────────────────────────────
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_INPUT_TOPIC=loan-ml-input
KAFKA_OUTPUT_TOPIC=loan-ml-output
KAFKA_LOGS_TOPIC=loan-ml-logs
KAFKA_GROUP_ID=ml-consumer-group

# Повторные подключения
KAFKA_RETRY_INTERVAL=5
KAFKA_MAX_RETRIES=10
